:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
  --dark-background-color: #2f303a;
  --footer-form-text:rgba(255, 255, 255, 0.6);
  --bg-images-lianer-gradient: rgba(47, 48, 58, 0.4);
  --bg-activity-section: rgba(47, 48, 58, 0.8);
  --bg-cards-portfolio: rgba(33, 150, 243, 0.9);
  --bg-bd-modal: rgba(0, 0, 0, 0.2);
  --bg-modal-form-border: rgba(33, 33, 33, 0.2);
  --button-hover-color: #188ce8;
  --border-img-color: #eeeeee;
  --footer-contact-link-color: #ffffff99;
  --btn-portfolio-bg-color: #f5f4fa;
  --icon-social-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.indent {
  display: block;
}

.logo {
  display: block;
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--dark-text-color);
}

.logo__text {
  color: var(--accent-color);
}

.logo__text-footer {
  color: var(--light-text-color);
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--primary-background-color);
  border: 1px solid red;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header__mobile-menu-btn.is-active .header__icon-menu-btn {
  opacity: 0;
}

.header__mobile-menu-btn.is-active .header__icon-menu-close-btn {
  opacity: 1;
}

.social-list {
  display: flex;
  margin-top: 64px;
}

.social-list__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-list__item:first-child {
  padding-left: 0;
}

.social-list__item:last-child {
  border-right: transparent;
}

.social-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn:hover, .btn:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.list-social {
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
}

.list-social__item {
  margin-right: 10px;
}

.list-social__item:last-child {
  margin-right: 0;
}

.list-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.list-social__link:hover, .list-social__link:focus {
  background-color: var(--accent-color);
}

.list-social__link_bg-dark {
  background: rgba(255, 255, 255, 0.1);
}

.list-social__icon_theme-light {
  fill: var(--light-text-color);
}

.list-social__icon {
  fill: var(--icon-social-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.list-social__link:hover .list-social__icon,
.list-social__link:focus .list-social__icon {
  fill: var(--light-text-color);
}

.footer__list-social {
  margin-left: 0;
  margin-right: 0;
}

.subscription {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-bd-modal);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1);
}

.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  outline: none;
  fill: var(--accent-color);
}

.contact-form__name {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}

.contact-form__label {
  display: block;
}

.contact-form__data {
  margin-bottom: 4px;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form__wrapper {
  position: relative;
  display: block;
}

.contact-form__input {
  padding-left: 42px;
  padding-right: 0;
  width: 100%;
  height: 40px;
  border: 1px solid var(--bg-modal-form-border);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  background-color: var(--primary-background-color);
  cursor: pointer;
}

.contact-form__input:not(:placeholder-shown):required {
  border-color: var(--accent-color);
  background-color: var(--primary-background-color);
}

.contact-form__icon {
  position: absolute;
  left: 12px;
  top: 11px;
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__input:not(:placeholder-shown):required + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__message {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--bg-modal-form-border);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.contact-form__message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__message:not(:placeholder-shown) {
  border-color: var(--accent-color);
  background-color: var(--primary-background-color);
}

.contact-form__checkbox-wrapper {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.contact-form__checkbox-icon {
  margin-right: 8px;
  fill: var(--primary-text-color);
}

.contact-form__checkbox:focus + .contact-form__checkbox-label > .contact-form__checkbox-icon {
  fill: var(--accent-color);
}

.contact-form__checkbox:checked + .contact-form__checkbox-label > .contact-form__checkbox-icon {
  background-color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-form__checkbox-icon-check {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.contact-form__checkbox:checked + .contact-form__checkbox-label > .contact-form__checkbox-icon-check {
  opacity: 1;
}

.contact-form__checkbox-label-link {
  color: var(--accent-color);
}

.contact-form__btn {
  display: block;
  margin: 0 auto;
  outline: none;
  padding: 10px 55px;
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  position: relative;
}

.header__mobile-menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0;
  z-index: 10;
}

.header__icon-menu-close-btn {
  opacity: 0;
}

.nav-list {
  border: 1px solid blue;
}

.nav-list__item {
  margin-bottom: 32px;
}

.nav-list__item:last-child {
  margin-bottom: 0;
}

.nav-list__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
  color: #212121;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link_active-page {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(var(--bg-images-lianer-gradient), var(--bg-images-lianer-gradient)), url(../images/hero/bg-fon-hero.jpg);
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-list__icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background: var(--btn-portfolio-bg-color);
}

.benefits-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.benefits-list__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.activity-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.activity-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.activity-list__img {
  position: relative;
}

.activity-list__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text-color);
  background: var(--bg-activity-section);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--btn-portfolio-bg-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--primary-background-color);
}

.team-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team-list__description {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.clients-list {
  display: flex;
}

.clients-list__item {
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list__link:hover {
  border-color: var(--accent-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients-list__icon {
  fill: var(--icon-social-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--light-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link_color-white {
  color: var(--footer-contact-link-color);
}

.subscription-wrapper {
  margin-left: 70px;
}

.subscribtion-form {
  margin-left: 93px;
}

.subscribtion-form__title {
  margin-bottom: 20px;
}

.subscribe-form__wrapper {
  position: relative;
  display: flex;
}

.subscribe-form__email {
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background-color);
  color: var(--footer-form-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  align-items: center;
}

.subscribe-form__email::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--footer-form-text);
}

.subscribe-form__btn {
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__icon {
  position: absolute;
  right: 28px;
  top: 13px;
}

.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-filter__item {
  margin-right: 8px;
}

.portfolio-filter__item:last-child {
  margin-left: 0;
}

.portfolio-filter__btn {
  max-width: 145px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--primary-text-color);
  background: var(--btn-portfolio-bg-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter__btn_active {
  color: var(--light-text-color);
  background-color: var(--accent-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-cards__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-cards__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-cards__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-cards__discription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--light-text-color);
  background-color: var(--bg-cards-portfolio);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-cards__link:hover .portfolio-cards__discription,
.portfolio-cards__link:focus .portfolio-cards__discription {
  transform: translateY(0%);
}

.portfolio-cards__shell {
  padding: 20px 24px;
  border: 1px solid var(--border-img-color);
  border-top: none;
  background: var(--primary-background-color);
}

.portfolio-cards__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-cards__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */