:root {
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #e5e5e5;
    --dark-background-color: #2f303a;
    --footer-form-text:rgba(255, 255, 255, 0.6);
    --bg-images-lianer-gradient: rgba(47, 48, 58, 0.4);
    --bg-activity-section: rgba(47, 48, 58, 0.8);
    --bg-cards-portfolio: rgba(33, 150, 243, 0.9);
    --bg-bd-modal: rgba(0, 0, 0, 0.2);
    --bg-modal-form-border: rgba(33, 33, 33, 0.2);
    --button-hover-color: #188ce8;
    --border-img-color: #eeeeee;
    --footer-contact-link-color: #ffffff99;
    --btn-portfolio-bg-color: #f5f4fa;
    --icon-social-color: #afb1b8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }