.benefits-list__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.benefits-list__icon {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background: var(--btn-portfolio-bg-color);
}

.benefits-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  @include font(14px, 700, 1.14);
  text-transform: uppercase;
  text-align: center;
}

.benefits-list__description {
  @include font(14px, 400, 1.71);
  color: var(--secondary-text-color);
 }

 // 768px +
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .benefits-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }

  .benefits-list__title {
    text-align: left;
  }
}

 // 1200 +
 @media screen and (min-width: 1200px) {
  .benefits-list__item{
    flex-basis: calc((100% - 120px) / 4);
  }
 }



