  .subscribtion-form {
    margin-left: 93px;
  }
  
  .subscribtion-form__title {
    margin-bottom: 20px;
    
  }
  
  .subscribe-form__wrapper {
    position: relative;
    display: flex;
  }
  
  .subscribe-form__email {
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-background-color);
    color: var(--footer-form-text);
    @include font(16px, 400, 1.25);
    align-items: center;

    &::placeholder {
      @include font(16px, 400, 1.25);
      align-items: center;
      letter-spacing: 0.03em;
      color: var(--footer-form-text);
    }
  }
  
  .subscribe-form__btn {
    margin-left: 12px;
    padding-left: 29px;
    padding-right: 62px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    @include font(16px, 700, 1.87);
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .subscribe-form__icon {
    position: absolute;
    right: 28px;
    top: 13px;
  }