  .portfolio-cards__item {
      margin-bottom: 30px;

      &:last-child {
          margin-bottom: 0;
      }
  }

  .portfolio-cards__link {
    display: block;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .portfolio-cards__wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-cards__discription {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include font(18px, 400, 1.56);
    color: var(--light-text-color);
    background-color: var(--bg-cards-portfolio);
    padding: 77px 24px;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);

    .portfolio-cards__link:hover &,
    .portfolio-cards__link:focus & {
      transform: translateY(0%);
    }
  }

  .portfolio-cards__shell {
    padding: 20px 24px;
    border: 1px solid var(--border-img-color);
    border-top: none;
    background: var(--primary-background-color);
  }
  
  .portfolio-cards__title {
    margin-bottom: 4px;
    @include font(18px, 700, 2);
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }
  
  .portfolio-cards__paragraph {
    @include font(16px, 400, 1.87);
    color: var(--secondary-text-color);
  }

    // 768px +
@media screen and (min-width: 768px) {
  .portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .portfolio-cards__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;

    &:last-child {
        margin-bottom: 30px;
    }
  }

  .portfolio-cards__discription {
    padding: 49px 24px;
  }
}

  // 1200px +
@media screen and (min-width: 1200px) {
  .portfolio-cards__item {
    flex-basis: calc((100% - 90px) / 3);
  }

  .portfolio-cards__discription {
    padding: 63px 24px;
   }
}
  