.list-social {
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
  }

  .list-social__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  
  .list-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  .list-social__link_bg-dark {
    background: rgba(255, 255, 255, 0.1);
  }

  .list-social__icon_theme-light {
    fill: var(--light-text-color);
  }
  
  .list-social__icon {
    fill: var(--icon-social-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);

    .list-social__link:hover &,
    .list-social__link:focus & {
      fill: var(--light-text-color);
    }
  }

  .footer__list-social {
    margin-left: 0;
    margin-right: 0;
  }
  
 
  
  
