.logo {
    display: block;
    font-family: var(--secondary-font-family);
    @include font(26px, 700, 1.19);
    color: var(--dark-text-color);
  }

  // .header__logo {
  //   margin-right: 93px;
  // }
  
  .logo__text {
    color: var(--accent-color);
  }
  .logo__text-footer {
    color: var(--light-text-color);
  }