.mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--primary-background-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    // transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.header__mobile-menu-btn.is-active .header__icon-menu-btn {
    opacity: 0;
}

.header__mobile-menu-btn.is-active .header__icon-menu-close-btn {
    opacity: 1;
}

// .header__mobile-menu-btn:hover .header__icon-menu-close-btn,
// .header__mobile-menu-btn:focus .header__icon-menu-close-btn {
//   fill: var(--accent-color);
// }

// .header__mobile-menu-btn:hover .header__icon-menu-close-btn {
//     fill: var(--accent-color);
// }





.social-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
}

.social-list__item {
    margin-right: 10px;
    margin-bottom: 10px;
  }

.social-list__link {
    
    @include font(18px, 500, 1.22);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.social-list__item:not(:last-child) .social-list__link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}







